/*Variables*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

.hero h1 {
  font-weight: 900;
  text-align: center; }

.actionCard .actionCardTitle {
  font-weight: 700;
  text-align: center;
  color: white; }

#donateCard {
  background-color: green; }

#advocateCard {
  background-color: pink; }

#appreciateCard {
  background-color: orange; }

#educateCard {
  background-color: lightblue; }

@media (min-width: 768px) {
  .hero h1 {
    padding-top: 4rem;
    padding-bottom: 3rem; }
  .cardHolder {
    margin-left: 8vw;
    margin-bottom: 35vh; }
  .actionCard {
    width: 20vw;
    height: 30vh;
    margin: .5rem .5rem .5rem .5rem; }
    .actionCard .icon {
      text-align: center;
      padding-top: 5.5rem;
      font-size: 3rem; }
    .actionCard .actionCardTitle {
      margin-top: -1.7rem; }
  .footer {
    background: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    text-align: center; }
    .footer p {
      padding-top: 1rem; } }

@media (max-width: 768px) {
  .hero h1 {
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 2rem; }
  .cardHolder {
    margin-left: 5vw;
    margin-bottom: 3.3rem; }
  .actionCard {
    width: 42vw;
    height: 30vh;
    margin: .5rem .5rem .5rem .5rem; }
    .actionCard .icon {
      text-align: center;
      padding-top: 4rem;
      font-size: 3rem; }
    .actionCard .actionCardTitle {
      margin-top: -1.7rem; }
  .footer {
    background: black;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white;
    text-align: center; }
    .footer p {
      padding-top: 1rem; } }
